<UploadJob>
  <StoreParameters>
    <TenantId>common</TenantId>
    <AccountId>zhengrihu@hotmail.com</AccountId>
    <AppId>9P8C3DCZQSPK</AppId>
    <UploadMode>Upload</UploadMode>
  </StoreParameters>
  <Packages>
    <Package>
      <FilePath>C:\Users\ZZZ\Documents\MyProjects\DesktopClockWiget\DesktopClockWidget.Package\DesktopClockWidget.msix</FilePath>
      <PackageType>Msix</PackageType>
    </Package>
  </Packages>
</UploadJob>